<footer class="relative bg-gradient-to-r from-custom-green to-green-800 dark:from-gray-800 dark:to-gray-900 text-white py-16">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-12 px-4 md:px-8">
    <!-- Section Kiri: Informasi Umum -->
    <div class="text-center md:text-left space-y-6">
      <h1 class="font-extrabold text-3xl md:text-4xl lg:text-5xl text-white dark:text-gray-100 leading-tight">
        SATUAN POLISI PAMONG PRAJA <br />
        PROVINSI KALIMANTAN BARAT
      </h1>
      <p class="text-base md:text-lg opacity-80 dark:text-gray-300">
        Web Resmi Polisi Pamong Praja <br />
        Provinsi Kalimantan Barat. Kami melayani dengan sepenuh hati untuk masyarakat Kalimantan Barat.
      </p>
      <div class="mt-6">
        <a href="https://maps.app.goo.gl/GecPkRfkJ2n4n3Ei7" target="_blank" class="text-base md:text-lg text-green-300 hover:text-green-500 dark:text-green-400 dark:hover:text-green-300">
          <i class="fas fa-map-marker-alt mr-2"></i>
          Lihat Lokasi Kami di Google Maps
        </a>
      </div>
    </div>

    <!-- Section Tengah: Kontak dan Navigasi -->
    <div class="space-y-6 text-base md:text-lg mx-4 md:ml-20">
      <div class="flex justify-center md:justify-start items-center">
        <i class="fas fa-phone-alt text-white dark:text-gray-200 text-xl"></i>
        <a href="tel:081225197681" class="ml-3 hover:underline text-green-300 dark:text-green-400">
          081225197681
        </a>
      </div>
      <div class="flex justify-center md:justify-start items-center">
        <i class="fas fa-envelope text-white dark:text-gray-200 text-xl"></i>
        <a href="mailto:satpolpp@kalbarprov.go.id" class="ml-3 hover:underline text-green-300 dark:text-green-400">
          satpolpp@kalbarprov.go.id
        </a>
      </div>
      <div class="flex justify-center md:justify-start items-center">
        <i class="fas fa-sitemap text-white dark:text-gray-200 text-xl"></i>
        <a href="{{ absURL "/" }}sitemap" class="ml-3 hover:underline text-green-300 dark:text-green-400">
          Sitemap
        </a>
      </div>
      <div class="flex justify-center md:justify-start items-center">
        <i class="fas fa-map-marker-alt mr-2 text-white dark:text-gray-200 text-xl"></i>
        <a href="https://maps.app.goo.gl/GecPkRfkJ2n4n3Ei7" target="_blank" class="ml-3 hover:underline text-green-300 dark:text-green-400 text-sm md:text-base">
          Komplek Kantor Gubernur Provinsi Kalimantan Barat Jalan Jenderal Ahmad Yani Pontianak, Kalimantan Barat 78124
        </a>
      </div>
    </div>

    <!-- Section Kanan: Social Media dan Testimonial -->
    <div class="space-y-6 text-base md:text-lg">
      <div class="mt-4 flex justify-center space-x-4 md:space-x-6">
        <a href="#" class="p-3 md:p-4 bg-green-600 dark:bg-gray-700 hover:bg-green-700 dark:hover:bg-gray-600 rounded-full shadow-lg transform transition duration-300 ease-in-out hover:scale-110">
          <i class="fab fa-facebook text-white text-xl md:text-2xl"></i>
        </a>
        <a href="#" class="p-3 md:p-4 bg-green-600 dark:bg-gray-700 hover:bg-green-700 dark:hover:bg-gray-600 rounded-full shadow-lg transform transition duration-300 ease-in-out hover:scale-110">
          <i class="fab fa-twitter text-white text-xl md:text-2xl"></i>
        </a>
        <a href="#" class="p-3 md:p-4 bg-green-600 dark:bg-gray-700 hover:bg-green-700 dark:hover:bg-gray-600 rounded-full shadow-lg transform transition duration-300 ease-in-out hover:scale-110">
          <i class="fab fa-instagram text-white text-xl md:text-2xl"></i>
        </a>
        <a href="#" class="p-3 md:p-4 bg-green-600 dark:bg-gray-700 hover:bg-green-700 dark:hover:bg-gray-600 rounded-full shadow-lg transform transition duration-300 ease-in-out hover:scale-110">
          <i class="fab fa-youtube text-white text-xl md:text-2xl"></i>
        </a>
      </div>
      <!-- Testimonial -->
      <div class="bg-gray-800 dark:bg-gray-900 p-4 md:p-6 rounded-md text-center mx-4 md:mx-0">
        <h2 class="text-lg md:text-xl font-semibold text-white dark:text-gray-100 mb-4">Apa Kata Pengguna Kami?</h2>
        <p class="text-base md:text-lg text-white dark:text-gray-300 opacity-80">
          "Pelayanan yang cepat dan tanggap dari Satpol PP Provinsi Kalimantan Barat sangat membantu kami. Terima kasih atas dedikasinya!"
        </p>
        <p class="mt-4 text-green-300 dark:text-green-400">- Andi, Warga Pontianak</p>
      </div>
    </div>
  </div>

  <!-- Embed Google Maps dengan Deskripsi -->
  <div class="mt-8 md:mt-12 relative px-4 md:px-0">
    <iframe
      class="w-full h-56 md:h-72 lg:h-96 rounded-md shadow-xl"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8159981422623!2d109.3499445758978!3d-0.06181743551546978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e1d5967b0f177eb%3A0xe40678efbde492d5!2sDinas%20Komunikasi%20Dan%20Informatika%20Provinsi%20Kalimantan%20Barat!5e0!3m2!1sid!2sid!4v1733817110418!5m2!1sid!2sid"
      frameborder="0" 
      style="border:0;"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
    <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black dark:from-gray-900 text-white py-2 text-center opacity-80">
      <p class="text-xs md:text-sm">Lokasi Kami: Dinas Komunikasi dan Informatika Provinsi Kalimantan Barat, Pontianak.</p>
    </div>
  </div>

  <!-- Copyright -->
  <div class="mt-6 md:mt-8 text-center border-t border-green-500 dark:border-gray-700 pt-4 px-4 md:px-0">
    <p class="text-base md:text-lg opacity-80 dark:text-gray-300">
      &copy; 2024 Satpol PP Provinsi Kalimantan Barat. All Rights Reserved.
    </p>
  </div>
</footer>

{{ if .Site.Params.enableSearch }}
  {{- partial "search-ui.html" . -}}
{{ end }}

{{ template "_internal/google_analytics.html" . }}

{{ if .Site.Params.darkModeToggle }}
<script>
  const darkmode = document.querySelector('.toggle-dark-mode');
  function toggleDarkMode() {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark');
      localStorage.setItem('darkmode', 'light');
    } else {
      document.documentElement.classList.add('dark');
      localStorage.setItem('darkmode', 'dark');
    }
  }
  if (darkmode) {
    darkmode.addEventListener('click', toggleDarkMode);
  }

  const darkStorage = localStorage.getItem('darkmode');
  const isBrowserDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

  if (!darkStorage && isBrowserDark) {
    document.documentElement.classList.add('dark');
  }

  if (darkStorage && darkStorage === 'dark') {
    toggleDarkMode();
  }
</script>
{{ end }}

<script>
  function hideLoadingScreen() {
    const loadingScreen = document.getElementById('loading-screen');
    loadingScreen.classList.add('hidden');
    const mainContent = document.querySelector('main');
    mainContent.classList.add('fade-in');
  }
  setTimeout(hideLoadingScreen, 300);
</script>

<script>
  document.getElementById('mobile-menu-button').addEventListener('click', function() {
    var menu = document.getElementById('mobile-menu');
    menu.classList.toggle('hidden');
  });
</script>

<script>
  function scrollToTop() {
    var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
    if (currentScroll > 0) {
      window.requestAnimationFrame(scrollToTop);
      window.scrollTo(0, currentScroll - currentScroll / 40);
    }
  }

  window.addEventListener('scroll', function() {
    var scrollToTopBtn = document.getElementById('scrollToTopBtn');
    var scrollY = window.scrollY || window.pageYOffset;

    if (scrollY > 20) {
      scrollToTopBtn.classList.remove('hidden');
    } else {
      scrollToTopBtn.classList.add('hidden');
    }

    if (scrollY === 0) {
      scrollToTopBtn.style.display = 'none';
    } else {
      scrollToTopBtn.style.display = 'block';
    }
  });
</script>
