<footer class="p-4 bg-green-700 text-white">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Section Kiri -->
    <div class="text-center md:text-center">
      <h1 class="font-bold text-3xl mt-10 mb-10 text-white  ">
        SATUAN POLISI PAMONG PRAJA PROVINSI <br />
        KALIMANTAN BARAT
      </h1>
      <p class="text-lg text-white">
        Web Resmi Polisi Pamong Praja <br />
        Provinsi Kalimantan Barat
      </p>
    </div>

    <!-- Garis Vertikal Pemisah -->
    <div class="hidden md:block absolute left-1/2 transform -translate-x-1/2 h-64 w-px bg-black mt-0"></div>

    <!-- Section Kanan -->
    <div class="space-y-3 mt-10 text-lg">
      <div class="flex items-center">
        <i class="fas fa-phone-alt text-white"></i>
        <a href="tel:081225197681" class="ml-2 hover:underline">
          081225197681
        </a>
      </div>
      <div class="flex items-start">
        <i class="fas fa-map-marker-alt text-white mt-1"></i>
        <a
          href="https://goo.gl/maps/YOUR-MAPS-LINK"
          target="_blank"
          class="ml-2 hover:underline"
        >
          Komplek Kantor Gubernur Provinsi Kalimantan Barat Jalan Jenderal
          Ahmad Yani Pontianak, Kalimantan Barat 78124
        </a>
      </div>
      <div class="flex items-center">
        <i class="fas fa-envelope text-white"></i>
        <a href="mailto:satpolpp@kalbarprov.go.id" class="ml-2 hover:underline">
          satpolpp@kalbarprov.go.id
        </a>
      </div>
      <div class="flex items-center">
        <i class="fas fa-sitemap text-white"></i>
        <a href="{{ absURL "/" }}sitemap" class="ml-2 hover:underline">
          Sitemap
        </a>
      </div>
    </div>
  </div>

  <!-- Social Media -->
  <div class="mt-4 flex justify-end space-x-4 mr-96">
    <a href="#" class="p-2 bg-custom-green rounded-full hover:bg-green-500">
      <i class="fab fa-facebook text-white text-xl"></i>
    </a>
    <a href="#" class="p-2 bg-custom-green rounded-full hover:bg-green-500">
      <i class="fab fa-twitter text-white text-xl"></i>
    </a>
    <a href="#" class="p-2 bg-custom-green rounded-full hover:bg-green-500">
      <i class="fab fa-instagram text-white text-xl"></i>
    </a>
    <a href="#" class="p-2 bg-custom-green rounded-full hover:bg-green-500">
      <i class="fab fa-youtube text-white text-xl"></i>
    </a>
  </div>

  <!-- Copyright -->
  <div class="mt-4 text-center border-t border-custom-green pt-2">
    <p class="text-lg">
      &copy; 2024 Satpol PP Provinsi Kalimantan Barat. All Rights Reserved.
    </p>
  </div>
</footer>


{{ if .Site.Params.enableSearch }}
{{- partial "search-ui.html" . -}}
{{ end }}

{{ template "_internal/google_analytics.html" . }}

{{ if .Site.Params.darkModeToggle }}
<script>
  const darkmode = document.querySelector('.toggle-dark-mode');
  function toggleDarkMode() {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark')
      localStorage.setItem('darkmode', 'light')
    } else {
      document.documentElement.classList.add('dark')
      localStorage.setItem('darkmode', 'dark')
    }
  }
  if (darkmode) {
    darkmode.addEventListener('click', toggleDarkMode);
  }

  const darkStorage = localStorage.getItem('darkmode');
  const isBrowserDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

  if (!darkStorage && isBrowserDark) {
    document.documentElement.classList.add('dark');
  }

  if (darkStorage && darkStorage === 'dark') {
    toggleDarkMode();
  }
</script>
{{ end }}

<script>
  function hideLoadingScreen() {
    const loadingScreen = document.getElementById('loading-screen');
    loadingScreen.classList.add('hidden');
    const mainContent = document.querySelector('main');
    mainContent.classList.add('fade-in');
  }
  setTimeout(hideLoadingScreen, 300);
</script>

<script>
  document.getElementById('mobile-menu-button').addEventListener('click', function() {
    var menu = document.getElementById('mobile-menu');
    menu.classList.toggle('hidden');
  });
</script>

<script>
  function scrollToTop() {
    var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
    if (currentScroll > 0) {
      window.requestAnimationFrame(scrollToTop);
      window.scrollTo(0, currentScroll - currentScroll / 40);
    }
  }

  window.addEventListener('scroll', function() {
    var scrollToTopBtn = document.getElementById('scrollToTopBtn');
    var scrollY = window.scrollY || window.pageYOffset;

    if (scrollY > 20) {
      scrollToTopBtn.classList.remove('hidden');
    } else {
      scrollToTopBtn.classList.add('hidden');
    }

    if (scrollY === 0) {
      scrollToTopBtn.style.display = 'none';
    } else {
      scrollToTopBtn.style.display = 'block';
    }
  });
</script>
