{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>
  <div>
    <p style="text-align: justify;">
      Pejabat Pengelola Informasi dan Dokumentasi Daerah (PPID) pada Satuan Polisi Pamong Praja Provinsi Kalimantan Barat dibentuk tahun 2020 dibentuk berdasarkan Keputusan Gubernur Kalimantan Barat Nomor 7/DISKOMINFO/2020 tentang Pembentukan Pengelola Layanan Informasi dan Dokumentasi Di Lingkungan Pemerintah Provinsi Kalimantan Barat.
    </p>
    <p style="text-align: justify;">
      Personalia PPID Satpol PP Prov. Kalbar terdiri dari ASN di lingkungan Satuan Polisi Pamong Praja Provinsi Kalimantan Barat. PPID adalah pejabat yang bertanggung jawab di bidang penyimpanan, pendokumentasian, penyediaan, dan/atau pelayanan informasi di Badan Publik.
    </p>
    <p style="text-align: justify;">
      Oleh karena itu Satpol PP Provinsi Kalimantan Barat menyadari bahwa keterbukaan informasi publik adalah sarana untuk optimalisasi partisipasi dan pengawasan publik terhadap kinerja Satpol PP dalam memberikan pelayanan yang berkualitas kepada masyarakat dan cara untuk mendapatkan kepercayaan dan dukungan publik.
    </p>
    <h2>Tugas dan Fungsi PPID:</h2>
    <h3>Tugas:</h3>
    <ol>
      <li>Merencanakan, melaksanakan, mengkoordinasikan, dan mengendalikan mengumpulkan bahan informasi, mengklasifikasikan informasi, mendokumentasikan informasi;</li>
      <li>Menyimpan, mendokumentasikan, menyediakan dan/atau memberikan pelayanan informasi kepada publik;</li>
      <li>Melakukan verifikasi bahan informasi publik dari PPD Pembantu sesuai tugas pokok dan fungsi organisasi;</li>
      <li>Melakukan uji konsekuensi atas informasi publik yang dikecualikan;</li>
      <li>Melakukan, menyediakan pemutakhiran informasi dan dokumentasi agar dapat diakses oleh masyarakat;</li>
      <li>Melaksanakan advokasi pengaduan dan penyelesaian sengketa informasi publik.</li>
    </ol>

    <h3>Fungsi:</h3>
    <ol>
      <li>Pembinaan</li>
      <li>Pengelolaan Informasi</li>
      <li>Dokumentasi Arsip</li>
      <li>Pelayanan Informasi</li>
    </ol>

    <p style="text-align: center;">
      <a href="/images/VYKPajD2B8tvSx9Hdlfw.png">STRUKTUR PPID SATPOL PP PROV. KALBAR</a>
    </p>
  </div>
</article>
{{ end }}
